@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

p {
    cursor: default;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #aaa;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color:    #aaa;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #aaa;
}

.video_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.blurred_block {
    backdrop-filter: blur(5px);
}

.ui_block {
    border-radius: 30px;
    padding: 30px;
}

.alpha_block {
    background-color: #00000055;
}

.flex_block {
    display: flex;
}

.child_center_block {
    align-items: center;
    justify-content: center;
}

.fill_vp {
    width: 100vw;
    height: 100vh;
}

.vertical_block {
    display: flex;
    flex-direction: column;
}

#auth_block {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text_input {
    width: 300px;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 15pt;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 20px;
}

.last_input {
    margin: 0;
}

input[type="text"], input[type="password"], textarea, select {
    outline: none;
}

.fill_width_block {
    width: 100%;
}

.space_between_block {
    display: flex;
    justify-content: space-between;
}

.block_title {
    padding: 0 30px;
    color: #fff;
    font-size: 15pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dark_block {
    background-color: #121212;
}

.darked_block {
    opacity: .8;
}

.done_button {
    width: 100px;
    color: #fff;
    font-size: 19pt;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    transition: color .2s;
}

.done_button:hover {
    color: #0f0;
    cursor: pointer;
}

.relative_bottom_left {
    position: relative;
    bottom: 0;
    left: 0;
}

.logo {
    position: absolute;
    width: 150px;
    top: 20px;
    left: 40px;
}

.logo_img {
    width: 30px;
    margin-right: 10px;
}

.logo_text {
    color: #fff;
    font-size: 17pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

.fill_parent {
    width: 100%;
    height: 100%;
}

.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.align_center_block {
    align-items: center;
}