* {
    --placeholder_color: #aaa;
    --transparent_ui_block_bg: #121212aa;
    --main_text_color: #fff;
    --ui_block_bg: #121212;
    --ui_contrast_color: #a32cc4;
    --hovered_bg: #31323366;
    --hint_color: #ccc;
    --darked_text_color: #ddd;
    --selector_hovered_bg: #000;
    --separator_color: #212223;
    --horizontal_separator_color: #aaa;
    --selector_bg: #000;
}