<!DOCTYPE html>
<html lang="ru|en">
    <head>
        <meta charset="UTF-8">
        <title>Not Found</title>
        <link href="http://localhost:8080/css/404.css" rel="stylesheet">
        <link rel="icon" href="http://localhost:8080/images/app_icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <div class="header__inner">
                <div class="header_logo_nav">
                    <img class="header_icon" src="http://localhost:8080/img/app_icon.png"/>
                    <nav class="header_nav">
                        <a class="nav_elem" href="http://localhost:8080/web/info">инфо</a>
                        <a class="nav_elem" href="http://localhost:8080/web/download">скачать</a>
                        <a class="nav_elem" href="http://localhost:8080/web/app">приложение</a>
                    </nav>
                </div>
                <div class="search">
                    <input class="search_input" type="text" placeholder="поиск">
                    <img class="search_icon" src="http://localhost:8080/img/search_icon.png"/>
                </div>
            </div>
        </div>
        <div class="error_body">
            <p class="error_message">Страница не найдена :(</p>
        </div>
    </body>
</html>