<!DOCTYPE html>
<html lang="en|ru">
    <head>
        <meta charset="UTF-8">
        <title>RoleWorld</title>
        <link href="http://localhost:8080/css/app.css" rel="stylesheet">
        <link rel="icon" href="http://localhost:8080/images/app_icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="module" src="http://localhost:8080/js/app/main.js"></script>
    </head>
    <body class="fill_vp dark_block">
        <video class="video_bg darked_block" autoplay muted loop>
            <source src="https://6bb8b6dc-uiuiui.s3.timeweb.cloud/files/wally/1058100.mp4" type="video/mp4" />
        </video>
        <div class="inner fill_parent" id="main_app_block">
            <div class="logo flex_block space_between_block align_center_block">
                <img class="logo_img" src="http://localhost:8080/images/app_icon.png" alt="logo"/>
                <p class="logo_text">RoleWorld</p>
            </div>
            <div class="flex_block child_center_block fill_parent">
                <div class="vertical_block">
                    <div class="fill_width_block space_between_block">
                        <p class="block_title">Нада в акк зайти</p>
                        <p class="block_title">Или создать новый</p>
                    </div>
                    <div class="blurred_block ui_block alpha_block" id="auth_block">
                        <div class="vertical_block">
                            <input class="text_input" id="sign_in_email" type="email" placeholder="почта"/>
                            <input class="text_input last_input" id="sign_in_password" type="password" placeholder="пароль"/>
                        </div>
                        <div class="vertical_block">
                            <input class="text_input" id="sign_up_email" type="email" placeholder="почта"/>
                            <input class="text_input" id="sign_up_nickname" type="text" placeholder="ник"/>
                            <input class="text_input" id="sign_up_password" type="password" placeholder="пароль"/>
                            <input class="text_input last_input" id="sign_up_repeat_password" type="password" placeholder="повторите пароль"/>
                        </div>
                    </div>
                    <div class="fill_width_block flex_block child_center_block" id="done_button_container">
                        <p class="done_button" id="auth_done">Готово</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>