<div class="logo flex_block space_between_block align_center_block">
  <img class="logo_img" src="/img/app_icon.png" alt="logo"/>
  <p class="logo_text">RoleWorld</p>
</div>
<div class="flex_block child_center_block fill_parent" id="auth_block_container">
  <div class="vertical_block">
    <div class="fill_width_block space_between_block">
      <p class="block_title localized sign_in" id="sign_in">%loc&sign_in%</p>
      <p class="block_title localized sign_up" id="sign_up">%loc&sign_up%</p>
    </div>
    <div class="dark_block ui_block vertical_block">
      <div id="auth_block">
        <div class="vertical_block">
          <div class="text_input_container">
            <input class="text_input localized email" id="sign_in_email" type="email" placeholder="%loc&email%"/>
          </div>
          <div class="text_input_container">
            <input class="text_input last_input localized password" id="sign_in_password" type="password" placeholder="%loc&password%"/>
            <div class="toggle_password_visible_container" id="sign_in_password_visible">
                %svg&show_password&toggle_password_visible show_password&sign_in_password_visible_show%
                %svg&hide_password&toggle_password_visible hide_password&sign_in_password_visible_hide%
            </div>
          </div>
        </div>
        <div class="vertical_block">
          <div class="text_input_container">
            <input class="text_input localized email" id="sign_up_email" type="email" placeholder="%loc&email%"/>
          </div>
          <div class="text_input_container">
            <input class="text_input localized nickname" id="sign_up_nickname" type="text" placeholder="%loc&nickname%"/>
          </div>
          <div class="text_input_container">
            <input class="text_input localized password" id="sign_up_password" type="password" placeholder="%loc&password%"/>
            <div class="toggle_password_visible_container" id="sign_up_password_visible">
                %svg&show_password&toggle_password_visible show_password&sign_up_password_visible_show%
                %svg&hide_password&toggle_password_visible hide_password&sign_up_password_visible_hide%
              </div>
            </div>
            <div class="text_input_container">
              <input class="text_input last_input localized repeat_password" id="sign_up_password_repeat" type="password" placeholder="%loc&repeat_password%"/>
              <div class="toggle_password_visible_container" id="sign_up_password_repeat_visible">
                  %svg&show_password&toggle_password_visible show_password&sign_up_password_repeat_visible_show%
                  %svg&hide_password&toggle_password_visible hide_password&sign_up_password_repeat_visible_hide%
            </div>
          </div>
        </div>
      </div>
      <div class="fill_width_block flex_block child_center_block" id="done_button_container">
        <p class="done_button localized auth_done" id="auth_done">%loc&auth_done%</p>
      </div>
    </div>
  </div>
</div>