<!DOCTYPE html>
<html lang="ru|en">
    <head>
        <meta charset="UTF-8">
        <title>RoleWorld</title>
        <link href="http://localhost:8080/css/download.css" rel="stylesheet">
        <link rel="icon" href="http://localhost:8080/images/app_icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <div class="flex__inner block__inner">
                <div class="header_logo_nav">
                    <img class="header_icon" src="http://localhost:8080/img/app_icon.png"/>
                    <nav class="header_nav">
                        <a class="nav_elem" href="http://localhost:8080/web/info">инфо</a>
                        <a class="nav_elem active" href="http://localhost:8080/web/download">скачать</a>
                        <a class="nav_elem" href="http://localhost:8080/web/app">приложение</a>
                    </nav>
                </div>
                <div class="search">
                    <input class="search_input" type="text" placeholder="поиск">
                    <img class="search_icon" src="http://localhost:8080/img/search_icon.png"/>
                </div>
            </div>
        </div>
        <div class="download">
            <div class="block__inner data_block__inner">
                <div class="title_block">
                    <p class="title">Тут можно скачать RoleWorld</p>
                    <p class="attention">Ссылки, помеченные как (unstable), могут работать с ошибками</p>
                </div>
                <div class="flex__inner">
                    <div class="download_os_block">
                        <div class="icon_block">
                            <img class="download_icon" src="http://localhost:8080/img/download_android.png">
                            <p class="download_icon_hint">android</p>
                        </div>
                        <div class="download_href_block">
                            <a class="download_href" href="http://localhost:8080/download/RoleWorld_release.apk">RoleWorld_release.apk (unstable)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>