<div class="extended_character_card vertical_block">
    <div class="horizontal_block flex_block child_center_vertical_block">
        <img class="extended_character_avatar" src="/app/get_character/avatar/%id%"/>
        <p class="extended_character_name"></p>
    </div>
    <div class="horizontal_block extended_character_data_container">
        <div class="fill_parent inline_block extended_character_data_block_container">
            <p class="extended_character_data_title non_margin">Описание</p>
            <p class="extended_character_data extended_character_description non_margin">Внезапно, явные признаки победы институционализации лишь добавляют фракционных разногласий и призваны к ответу. В целом, конечно, существующая теория обеспечивает актуальность стандартных подходов. И нет сомнений, что ключевые особенности структуры проекта в равной степени предоставлены сами себе.</p>
        </div>
        <div class="vertical_separator"></div>
        <div class="fill_parent inline_block extended_character_data_block_container">
            <p class="extended_character_data_title non_margin">Биография</p>
            <p class="extended_character_data extended_character_bio non_margin">Внезапно, явные признаки победы институционализации лишь добавляют фракционных разногласий и призваны к ответу. В целом, конечно, существующая теория обеспечивает актуальность стандартных подходов. И нет сомнений, что ключевые особенности структуры проекта в равной степени предоставлены сами себе.</p>
        </div>
    </div>
</div>