<!DOCTYPE html>
<html lang="ru|en">
    <head>
        <meta charset="UTF-8">
        <title>RoleWorld</title>
        <link href="http://localhost:8080/css/info.css" rel="stylesheet">
        <link rel="icon" href="http://localhost:8080/images/app_icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <div class="flex__inner block__inner">
                <div class="header_logo_nav">
                    <img class="header_icon" src="http://localhost:8080/img/app_icon.png"/>
                    <nav class="header_nav">
                        <a class="nav_elem active" href="http://localhost:8080/web/info">инфо</a>
                        <a class="nav_elem" href="http://localhost:8080/web/download">скачать</a>
                        <a class="nav_elem" href="http://localhost:8080/web/app">приложение</a>
                    </nav>
                </div>
                <div class="search">
                    <input class="search_input" type="text" placeholder="поиск">
                    <img class="search_icon" src="http://localhost:8080/img/search_icon.png"/>
                </div>
            </div>
        </div>
        <div class="intro">
            <video class="video_bg" autoplay muted loop>
                <source src="https://6bb8b6dc-uiuiui.s3.timeweb.cloud/files/wally/1058100.mp4" type="video/mp4" />
            </video>
            <div class="block__inner">
                <div class="intro_data flex__inner">
                    <div class="intro_text_data">
                        <p class="intro_main_text">RoleWorld App</p>
                        <p class="intro_subtext">Пиши. Мечтай. Создавай.</p>
                    </div>
                    <div class="intro_screenshots">
                        <img class="screenshot" id="auth_screenshot" src="http://localhost:8080/img/app_screenshot.jpg"/>
                        <img class="screenshot" id="main_view_screenshot" src="http://localhost:8080/img/app_screenshot.jpg"/>
                    </div>
                </div>
            </div>
            <div class="to_bottom_container">
                <img src="http://localhost:8080/img/to_bottom_icon.png" alt="">
            </div>
        </div>
        <div class="design_info">
            <div class="data_block__inner block__inner">
                <p class="block_title animated">И это лишь начало</p>
                <div class="design_data">
                    <div class="design_description">
                        <p class="desc_line animated">Светлая и тёмная темы</p>
                        <p class="desc_line animated">Кастомизация</p>
                        <p class="desc_line animated">Разнообразные встроеные темы</p>
                        <p class="desc_line animated">Режим многозадачности, открывай несколько окон сразу</p>
                    </div>
                    <div class="design_screenshots">
                        <img class="screenshot" id="light_screenshot" src="http://localhost:8080/img/app_screenshot.jpg"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="download_or_web">
            <div class="data_block__inner block__inner">
                <p class="block_title animated">Давай юзать!)</p>
                <div class="flex__inner">
                    <div class="download_data">
                        <p class="download_welcome animated">Можно скачать на любое устройство</p>
                        <a class="download_btn animated" href="http://localhost:8080/web/download">Скачать</a>
                    </div>
                    <div class="use_web_data">
                        <p class="download_welcome animated">Или сидеть через сайт</p>
                        <a class="download_btn animated" href="http://localhost:8080/web/app">Веб-версия</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="block__inner flex__inner data_block__inner">
                <div>
                    <p class="footer_data"><span style="color: #fff; ">Created by:</span> NakaharaDev</p>
                    <p class="footer_data"><span style="color: #fff; ">Designed by:</span> Nastya24kru</p>
                </div>
            </div>
        </div>

        <script src="http://localhost:8080/js/showAnimation.js"></script>
    </body>
</html>