<div class="fill_width_block horizontal_block space_between_block settings_field non_padding">
    <p class="settings_field_title localized settings_field_lang">%loc&settings_field_lang%</p>
    <p class="settings_selector" id="toggle_language"></p>
</div>
<div class="separator">
    <p class="separator_title localized settings_customization_block_title">%loc&settings_customization_block_title%</p>
    <div class="separator_line"></div>
</div>
<div class="fill_width_block horizontal_block space_between_block settings_field">
    <p class="settings_field_title localized dark_theme">%loc&dark_theme%</p>
    <label class="switch">
        <input type="checkbox" id="is_dark_theme">
        <span class="slider"></span>
    </label>
</div>